.navbar-brand img {
  width: 32px;
  height: 32px;
}
.table-properties th {
  font-weight: normal;
  width: 15rem;
}
.table-properties td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-properties tr:first-child td,
.table-properties tr:first-child th {
  border-top: none !important;
}
.noborder {
  border: none;
}
.picture {
  width: 9rem;
  height: 9rem;
}
.logo {
  width: 9rem;
  height: 9rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body {
  background-color: #f0f0f0;
}